* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #5a5a5a;
}

img {
  cursor: pointer;
}

.flex-nav {
  display: flex;
  align-items: center;
}

nav {
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-right img {
  width: 25px;
  margin-right: 25px;
}

.nav-right img:last-child {
  width: 35px;
  border-radius: 50%;
}

.nav-left .menu-icon {
  width: 22px;
  margin: 0 25px 0 0;
}

.nav-left .logo {
  width: 130px;
}

.nav-middle .mic-icon {
  width: 16px;
}

.nav-middle .search-box {
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
}

.nav-middle .search-box input {
  width: 400px;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.nav-middle .search-box img {
  width: 15px;
}

/* sidebar */

.sidebar {
  background-color: #fff;
  background-color: aqua;
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 0;
  padding-left: 2%;
  padding-top: 80px;
}

.shortcut-links a img {
  width: 20px;
  margin-right: 20px;
}

.shortcut-links a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  flex-wrap: wrap;
}

.shortcut-links a:first-child {
  color: red;
}

.sidebar hr {
  border: 2px solid red;
  width: 85%;
  height: 2px;
}

.subscribed-list h3 {
  font-size: 25px;
  width: 100%;
  margin: 10% 0;
  color: #5a5a5a;
}
.subscribed-list a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  flex-wrap: wrap;
}

.subscribed-list a img {
  width: 25px;
  border-radius: 50%;
  margin-right: 0;
}
/* ----- sidebar -----*/  
.small-sidebar {
  width: 5%;
}

.small-sidebar a p {
  display: none;
}

.small-sidebar h3 {
  display: none;
}

.small-sidebar hr {
  width: 50%;
  margin-bottom: 25px;
}

/* main */

.container {
  background-color: blue; /*#f9f9f9*/
  padding-top: 20px;
  padding-right: 2%;
  padding-bottom: 20px;
  padding-left: 17%;
}


.large-container {
  padding-left: 7%;
  background-color: yellow;
}

.banner {
  width: 100%;
}

.banner img {
  width: 100%;
  border-radius: 8px;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 30px;
  margin-top: 15px;
}

.vid-list .thumbnail {
  width: 100%;
  border-radius: 5px;
}

.vid-list .flex-nav {
  align-items: center;
  margin-top: 7px;
}

.vid-list .flex-nav img {
  width: 35px;
  margin-right: 10px;
  border-radius: 50%;
}

.vid-info {
  color: #5a5a5a;
  font-size: 13px;
}
.vid-info a {
  display: block;
  color: black;
  font-weight: 600;
  margin-bottom: 5px;
}


@media  (max-width: 900px) {
  .menu-icon {
    display: none;
  }
  .sidebar {
    display: none;
  }

  .container, .large-container {
    padding-left: 5%;
    padding-right: 5%;
  }

   .nav-right img {
    display: none;
   }
    .nav-right .user-icon {
      display: block;
      width: 30px;
      border-radius: 50%;
    }

    .nav-middle .search-box input {
      width:  100px; 
    }

    .nav-middle .mic-icon {
      display: none;
    }
    .logo {
      width: 9px;
    }
  
}


/* ----------------- Play Video ------- */

.play-containter {
  padding-left: 0px ;

}

.row {
  display: flex;
  justify-content:space-between;
  flex-wrap: nowrap;
}

.play-video {
  flex-basis: 60%;
}

.right-sidebar {
  flex-basis: 39%;
}

.play-video video {
  width: 100%;
}

.side-video-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8%;
}
.side-video-list img { 
  width:  100%;
}

.play-video tag a {
  color: #0000ff ;
  font-size: 13px;
}

.play-video h3 {
  font-weight: 600;
  font-size: 22px;
}

.play-video .play-video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 14px;
  color: #5a5a5a;
}

.play-video .play-video-info a img {
  width:  20px;
  margin-right: 8px;
}

.play-video .play-video-info a {
   display: inline-flex;
   align-items: center;
   margin-left: 15px;
}

.play-video hr {
  border: 0;
  height:  1px;
  background-color: #ccc;
  margin: 10px 0;
}